<p-dropdown [options]="cities1" [(ngModel)]="selectedCity1" (onChange)="onSelectionofDropDown($event)">

</p-dropdown>


<p-autoComplete [(ngModel)]="country" [suggestions]="filteredCountriesSingle" (completeMethod)="filterCountrySingle($event)" field="name" [size]="30" placeholder="Countries" [minLength]="1"></p-autoComplete>
<span style="margin-left:10px">Country: {{country ? country.name||country : 'none'}}</span>